!/.env.example
/vendor/
/node_modules/
/public/build/
/public/face-images/
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/pail/
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/database/database.sqlite
/.phpunit.cache
/.phpunit.result.cache
/.phpactor.json
/.fleet/
/.idea/
/.nova/
/.vscode/
/.zed/
/auth.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.tmp
.DS_Store
Thumbs.db
